* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

body {
    margin: 0;
    width: 100vw ;
    height: 100vh;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 24px 16px;
}

.logo h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -.49px;
    margin: 0;
}

.menu-toggle {
    display: none;
}

#toggle:checked ~ .hamburger-menu-open {
    display: block;
}

.hamburger-menu-open {
    width: 240px;
    height: 100vh;
    background-color: #fff;
    top: 75px;
    right: 0;
    display: none;
    position: absolute;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

main h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -.5px;
    margin: 0;
    padding-top: 48px;
}

main p {
    color: #686868;
    width: 343px;
    height: auto;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin: 0;
    padding-top: 16px;
}

main button {
    padding: 12px 24px 12px 24px;
    border: none;
    border-radius: 15px;
    background-color: #151515;
    color: #FAFAFA;
    font-weight: 700;
    letter-spacing: -.22px;
    line-height: 26px;
    width: 136px;
    height: 48px;
    margin-top: 24px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 48px;
}